<%= form_tag("/search", method: "get", :class => "form-search") do %>
 <div class="inline">
 	<input id="<%=:tagnum%>" placeholder="Enter search text" class="input-medium search-query" >
 	  
  <%= submit_tag("Search", :class => "btn inline", :style => "margin-bottom:5px;") %>
</div>
<% end %>
