<h1>Welcome to marathon friends, a place to share marathon photos!</h1>

<%= link_to 'All_Photos', photos_url%>

<%=link_to 'Upload_Photos' ,new_photo_path %>

<%=link_to 'My_Photos', myphotos_photos_path %>
