<h1>
	Hello Admin
</h1>
<p>
	Note this will hold other links such as users, and photos.  It is the base for an admin to work off of.
</p>
<%= link_to "Marathons", controller: "marathons", action: "index" %>