<h1>
	Photos for <%= current_user.first_name %>
</h1>

<% @photos.each do |photo| %>
<% if photo.user_id == current_user.id%>
  <%= image_tag photo.userphoto.url(:small) %>
 
  
<%end%>
<%end%>
 <br />
 <br />
 <%= link_to 'Home', root_path %>
