// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
textfield{
  border: 1px solid #bbb;
  width: 20%;
  padding: 10px;
  height: auto !important;
  margin-bottom: 15px;

}
